<footer>
      <div class="footer-content">

        <div class="footer-logo">
          <h3>FIGMAX<span style="color:#ff0707;"> SHOP</span></h3>
          <p>مرجع تخصصی مجسمه‌های کلکسیونی</p>
        </div>

        <div class="footer-links">
    <h4>درباره ما</h4>
    <a href="{% url 'shop:about' %}">درباره ما</a>
    
</div>

        <div class="footer-links">
          <h4>شبکه‌های اجتماعی</h4>

          <div class="social-icons">

            <a class="social-icon" href="https://www.instagram.com/figmaxshop" target="_blank" rel="noopener noreferrer" aria-label="اینستاگرام FIGMAX">
              <img src="/static/images/instagram-white.png" class="social-img social-white" alt="اینستاگرام FIGMAX">
              <img src="/static/images/instagram-red.png" class="social-img social-red" alt="اینستاگرام FIGMAX">
            </a>

            <a class="social-icon" href="https://t.me/figmaxshop" target="_blank" rel="noopener noreferrer" aria-label="تلگرام FIGMAX">
              <img src="/static/images/telegram-white.png" class="social-img social-white" alt="تلگرام FIGMAX">
              <img src="/static/images/telegram-red.png" class="social-img social-red" alt="تلگرام FIGMAX">
            </a>

            <a class="social-icon" href="https://bale.ai/in/figmaxshop" target="_blank" rel="noopener noreferrer" aria-label="بله FIGMAX">
              <img src="/static/images/bale-white.png" class="social-img social-white" alt="بله FIGMAX">
              <img src="/static/images/bale-red.png" class="social-img social-red" alt="بله FIGMAX">
            </a>

          </div>

        </div>

      </div>

      <div class="copyright">
        &copy; 2026 FIGMAX
      </div>
    </footer>
